.App{
    min-height: 100vh; /* La altura mínima de la página será el 100% de la altura de la ventana del navegador (viewport) */
    /* display: flex; Se usa el modelo de caja flexible (flexbox) para distribuir el contenido dentro del contenedor */
    /* flex-wrap: wrap; Permite que los elementos secundarios (hijos) se envuelvan en varias filas si no caben en una sola línea */
    align-items: center; /* Alinea los elementos flex en el eje vertical (centrados verticalmente) */
    justify-content: center; /* Alinea los elementos flex en el eje horizontal (centrados horizontalmente) */
    text-align: center;
}